@charset "UTF-8";
/******************************/
body {
  background: #f9f8f6; }

#wrapper {
  width: 980px;
  margin: 0 auto; }
  @media (max-width: 550px) {
    #wrapper {
      width: 100%;
      text-align: center; } }
  #wrapper header #header_in {
    padding-top: 30px;
    padding-bottom: 4px;
    /**スマートフォン**/
    /**パソコン**/ }
    #wrapper header #header_in h1 img {
      width: 150px; }
    @media (min-width: 550px) {
      #wrapper header #header_in h1 .logo_sp {
        display: none; } }
    @media (max-width: 550px) {
      #wrapper header #header_in h1 .logo_pc {
        display: none; } }
    @media (max-width: 550px) {
      #wrapper header #header_in .pc {
        display: none; }
      #wrapper header #header_in .menu_sp .sp_icon {
        width: 10%;
        margin: 5px; }
      #wrapper header #header_in .menu {
        cursor: pointer; }
      #wrapper header #header_in .sp_navi_li {
        display: none;
        width: 100%;
        background: #ff6d77;
        padding: 25px 10px; }
        #wrapper header #header_in .sp_navi_li li {
          text-align: left; }
          #wrapper header #header_in .sp_navi_li li a {
            text-decoration: none;
            color: #fff; }
        #wrapper header #header_in .sp_navi_li .line_sp {
          border-bottom: 1px solid #fff;
          width: 90%;
          text-align: center; } }
    @media (min-width: 550px) {
      #wrapper header #header_in .sp {
        display: none; }
      #wrapper header #header_in .pc {
        position: relative;
        bottom: 30px;
        padding: 0 0 0 500px; }
        #wrapper header #header_in .pc .pc_navi_li {
          text-align: right; }
          #wrapper header #header_in .pc .pc_navi_li li {
            list-style: none;
            margin: 5px 0 0 0;
            padding: 0; }
            #wrapper header #header_in .pc .pc_navi_li li a {
              float: left;
              padding-left: 15px; }
      #wrapper header #header_in .pc:after {
        content: "";
        clear: both;
        display: block; } }
  #wrapper #main {
    width: 740px;
    float: left;
    /**index**/
    /**list**/
    /**products**/ }
    @media (min-width: 550px) {
      #wrapper #main .title_sp {
        display: none; } }
    @media (max-width: 550px) {
      #wrapper #main {
        clear: both;
        width: 100%; }
        #wrapper #main .title {
          display: none; }
        #wrapper #main .title_sp {
          padding: 20px 0 10px; } }
    #wrapper #main .owl-carousel {
      width: 94%; }
      #wrapper #main .owl-carousel img {
        max-width: 100%; }
      @media (max-width: 550px) {
        #wrapper #main .owl-carousel {
          margin: 0 auto; } }
    #wrapper #main #new_items, #wrapper #main #popular {
      width: 703px; }
      @media (max-width: 550px) {
        #wrapper #main #new_items, #wrapper #main #popular {
          width: 100%; } }
      #wrapper #main #new_items .title, #wrapper #main #popular .title {
        margin: 25px 0; }
      #wrapper #main #new_items .flex-container, #wrapper #main #popular .flex-container {
        display: flex;
        flex-wrap: wrap; }
        #wrapper #main #new_items .flex-container .new_container, #wrapper #main #new_items .flex-container .popu_container, #wrapper #main #popular .flex-container .new_container, #wrapper #main #popular .flex-container .popu_container {
          width: 230px;
          background: #fff;
          text-align: center;
          margin: 2px; }
          @media (max-width: 550px) {
            #wrapper #main #new_items .flex-container .new_container, #wrapper #main #new_items .flex-container .popu_container, #wrapper #main #popular .flex-container .new_container, #wrapper #main #popular .flex-container .popu_container {
              width: 48%;
              margin: 2px auto; } }
          #wrapper #main #new_items .flex-container .new_container img, #wrapper #main #new_items .flex-container .popu_container img, #wrapper #main #popular .flex-container .new_container img, #wrapper #main #popular .flex-container .popu_container img {
            max-width: 100%;
            padding: 7px 5px 0; }
            @media (max-width: 550px) {
              #wrapper #main #new_items .flex-container .new_container img, #wrapper #main #new_items .flex-container .popu_container img, #wrapper #main #popular .flex-container .new_container img, #wrapper #main #popular .flex-container .popu_container img {
                width: 90%; } }
          #wrapper #main #new_items .flex-container .new_container p, #wrapper #main #new_items .flex-container .popu_container p, #wrapper #main #popular .flex-container .new_container p, #wrapper #main #popular .flex-container .popu_container p {
            padding: 0 5px;
            font-size: 0.8em;
            text-align: left; }
      #wrapper #main #new_items .backnext, #wrapper #main #popular .backnext {
        margin: 30px 0;
        display: flex;
        justify-content: space-between; }
        #wrapper #main #new_items .backnext a, #wrapper #main #popular .backnext a {
          text-decoration: none;
          background: #887f69;
          color: #fff;
          font-size: 0.9em;
          padding: 10px 40px; }
    #wrapper #main #guide .title {
      margin: 25px 0; }
    #wrapper #main #guide .guide_box {
      background: #fff;
      width: 345px;
      height: 300px;
      margin: 2px;
      float: left; }
      @media (max-width: 550px) {
        #wrapper #main #guide .guide_box {
          margin: 2px 8px;
          clear: both;
          text-align: left;
          width: 95%;
          height: 50%; }
          #wrapper #main #guide .guide_box .cards {
            width: 100%; } }
      #wrapper #main #guide .guide_box .text_guide {
        padding: 0 20px; }
        #wrapper #main #guide .guide_box .text_guide h2 {
          font-size: 1em;
          color: #887f69; }
        #wrapper #main #guide .guide_box .text_guide h3 {
          font-size: 0.8em;
          color: #887f69; }
        #wrapper #main #guide .guide_box .text_guide p {
          font-size: 0.8em; }
    #wrapper #main #guide .guide_box:after {
      content: "";
      clear: both;
      display: block; }
    #wrapper #main #pankuzu {
      height: 30px;
      width: 700px;
      margin: 10px 0;
      background: #e8e4da;
      border-radius: 3px; }
      @media (max-width: 550px) {
        #wrapper #main #pankuzu {
          width: 90%;
          margin: 10px auto;
          text-align: left;
          height: 35px; } }
      #wrapper #main #pankuzu img {
        padding: 10px 5px 0 10px; }
      #wrapper #main #pankuzu span {
        font-size: 0.7em;
        color: #b8b4ac;
        padding: 0 0 10px 0; }
        @media (max-width: 550px) {
          #wrapper #main #pankuzu span {
            font-size: 0.8em; } }
      #wrapper #main #pankuzu a {
        font-size: 0.7em;
        text-decoration: none;
        color: #887f69;
        padding-bottom: 5px; }
        @media (max-width: 550px) {
          #wrapper #main #pankuzu a {
            font-size: 0.8em;
            text-align: left;
            padding-bottom: 0; } }
    @media (max-width: 550px) {
      #wrapper #main #cateimg img {
        width: 95%; } }
    #wrapper #main #syouhin {
      background: #fff;
      width: 700px; }
      @media (max-width: 550px) {
        #wrapper #main #syouhin {
          width: 100%; } }
      #wrapper #main #syouhin .syouhin_box {
        width: 550px;
        margin: 0 auto;
        padding-top: 30px;
        text-align: left; }
        @media (max-width: 550px) {
          #wrapper #main #syouhin .syouhin_box {
            width: 90%; } }
        #wrapper #main #syouhin .syouhin_box h2 {
          font-size: 1em;
          display: inline; }
          @media (max-width: 550px) {
            #wrapper #main #syouhin .syouhin_box h2 {
              display: block; } }
        #wrapper #main #syouhin .syouhin_box span {
          padding-left: 350px;
          font-size: 0.7em;
          color: #a6a6a6; }
          @media (max-width: 550px) {
            #wrapper #main #syouhin .syouhin_box span {
              padding-left: 0;
              font-size: 0.9em; } }
        #wrapper #main #syouhin .syouhin_box .line {
          border-bottom: 1px solid #e3e8cf;
          clear: both; }
        #wrapper #main #syouhin .syouhin_box .display_img {
          float: left;
          width: 340px;
          margin-top: 15px; }
          @media (max-width: 550px) {
            #wrapper #main #syouhin .syouhin_box .display_img {
              width: 100%;
              clear: both; } }
          #wrapper #main #syouhin .syouhin_box .display_img img {
            width: 380px; }
            @media (max-width: 550px) {
              #wrapper #main #syouhin .syouhin_box .display_img img {
                max-width: 100%; } }
        #wrapper #main #syouhin .syouhin_box .pro_img {
          float: right;
          width: 200px; }
          @media (max-width: 550px) {
            #wrapper #main #syouhin .syouhin_box .pro_img {
              clear: both;
              text-align: center;
              width: 100%; } }
          @media (max-width: 550px) {
            #wrapper #main #syouhin .syouhin_box .pro_img ul {
              -webkit-padding-start: 0px; } }
          #wrapper #main #syouhin .syouhin_box .pro_img li {
            list-style: none;
            display: inline-block; }
            #wrapper #main #syouhin .syouhin_box .pro_img li img {
              width: 70px;
              cursor: pointer; }
              @media (max-width: 550px) {
                #wrapper #main #syouhin .syouhin_box .pro_img li img {
                  width: 49px; } }
        #wrapper #main #syouhin .syouhin_box table {
          width: 550px;
          height: 80px;
          color: #887f69;
          text-align: center; }
          @media (max-width: 550px) {
            #wrapper #main #syouhin .syouhin_box table {
              width: 100%; } }
          #wrapper #main #syouhin .syouhin_box table th {
            background: #f9f9f5;
            border: 1px #e3e8cf solid;
            font-size: 0.8em; }
          #wrapper #main #syouhin .syouhin_box table td {
            border: 1px #e3e8cf solid; }
          #wrapper #main #syouhin .syouhin_box table input {
            display: none; }
          #wrapper #main #syouhin .syouhin_box table .label-checkbox {
            cursor: pointer;
            color: #828c9a;
            font-weight: normal;
            /**??**/ }
        #wrapper #main #syouhin .syouhin_box .price .line {
          width: 300px; }
          @media (max-width: 550px) {
            #wrapper #main #syouhin .syouhin_box .price .line {
              width: 100%; } }
        #wrapper #main #syouhin .syouhin_box .price span {
          padding-left: 60px;
          font-size: 1.5em;
          color: #eb2c79;
          font-style: italic; }
          #wrapper #main #syouhin .syouhin_box .price span small {
            font-size: 0.5em;
            color: #000; }
        #wrapper #main #syouhin .syouhin_box .price .add_cart_pc {
          float: right;
          position: relative;
          bottom: 75px; }
          @media (max-width: 550px) {
            #wrapper #main #syouhin .syouhin_box .price .add_cart_pc {
              display: none; } }
        #wrapper #main #syouhin .syouhin_box .price input {
          width: 140px;
          margin-left: 60px;
          border: 1px #e3e8cf solid; }
        #wrapper #main #syouhin .syouhin_box .add_cart_sp {
          clear: both;
          text-align: center;
          display: block;
          margin: 0 auto; }
          @media (min-width: 550px) {
            #wrapper #main #syouhin .syouhin_box .add_cart_sp {
              display: none; } }
        #wrapper #main #syouhin .syouhin_box .description {
          clear: both;
          padding-bottom: 80px; }
          #wrapper #main #syouhin .syouhin_box .description .line {
            border-bottom: 1px solid #887f69; }
          #wrapper #main #syouhin .syouhin_box .description h2, #wrapper #main #syouhin .syouhin_box .description h3 {
            color: #887f69;
            font-size: 1em; }
          #wrapper #main #syouhin .syouhin_box .description .desc_text {
            font-size: 0.8em;
            padding-bottom: 20px; }
          #wrapper #main #syouhin .syouhin_box .description th {
            padding: 0 60px; }
            @media (max-width: 550px) {
              #wrapper #main #syouhin .syouhin_box .description th {
                padding: 15px 15px; } }
          #wrapper #main #syouhin .syouhin_box .description td {
            font-size: 0.8em;
            padding: 0 10px; }
  #wrapper #slidebar {
    width: 220px;
    float: left; }
    @media (max-width: 550px) {
      #wrapper #slidebar {
        width: 100%;
        clear: both; } }
    #wrapper #slidebar #search {
      background: #fff; }
      @media (max-width: 550px) {
        #wrapper #slidebar #search {
          width: 95%;
          margin: 15px auto 0; }
          #wrapper #slidebar #search .itemserch {
            display: none; } }
      #wrapper #slidebar #search img {
        padding: 0 20px; }
      #wrapper #slidebar #search #searchform2 {
        position: relative;
        padding: 10px; }
        #wrapper #slidebar #search #searchform2 #keywords2 {
          width: 160px;
          height: 16px;
          background: #eee;
          border: none;
          padding: 4px;
          margin: 0 10px;
          color: #FFF; }
          @media (max-width: 550px) {
            #wrapper #slidebar #search #searchform2 #keywords2 {
              width: 80%; } }
        #wrapper #slidebar #search #searchform2 #searchBtn2 {
          position: absolute;
          top: 15px;
          left: 160px; }
          @media (max-width: 550px) {
            #wrapper #slidebar #search #searchform2 #searchBtn2 {
              left: 230px; } }
    #wrapper #slidebar .subtitle {
      height: 40px;
      background: #887f69;
      margin-top: 5px; }
      @media (max-width: 550px) {
        #wrapper #slidebar .subtitle {
          text-align: left;
          width: 95%;
          margin: 15px auto 0; } }
      #wrapper #slidebar .subtitle .sub {
        padding: 15px 0 0 10px; }
      #wrapper #slidebar .subtitle .next {
        position: relative;
        left: 110px; }
        @media (max-width: 550px) {
          #wrapper #slidebar .subtitle .next {
            left: 185px; } }
      #wrapper #slidebar .subtitle .down {
        position: relative;
        left: 95px; }
        @media (max-width: 550px) {
          #wrapper #slidebar .subtitle .down {
            left: 170px; } }
    #wrapper #slidebar #categories .catebox {
      height: 40px;
      background: #fff;
      margin: 2px 0;
      position: relative;
      top: 0; }
      @media (max-width: 550px) {
        #wrapper #slidebar #categories .catebox {
          text-align: left;
          width: 95%;
          margin: 2px auto; } }
      #wrapper #slidebar #categories .catebox span {
        display: block;
        font-size: 0.9em;
        padding: 10px 0 0 10px; }
      #wrapper #slidebar #categories .catebox .nextgray {
        position: relative;
        left: 200px;
        bottom: 20px; }
        @media (max-width: 550px) {
          #wrapper #slidebar #categories .catebox .nextgray {
            left: 275px; } }
    #wrapper #slidebar #about .info, #wrapper #slidebar #shopinfo .info {
      background: #fff;
      text-align: center; }
      @media (max-width: 550px) {
        #wrapper #slidebar #about .info, #wrapper #slidebar #shopinfo .info {
          width: 95%;
          margin: 0 auto;
          text-align: left; }
          #wrapper #slidebar #about .info .morebtn, #wrapper #slidebar #shopinfo .info .morebtn {
            display: block;
            position: relative;
            left: 170px;
            bottom: 20px; } }
      #wrapper #slidebar #about .info p, #wrapper #slidebar #shopinfo .info p {
        font-size: 0.8em;
        padding: 5px;
        text-align: left; }
        @media (max-width: 550px) {
          #wrapper #slidebar #about .info p, #wrapper #slidebar #shopinfo .info p {
            width: 45%;
            float: right; } }
      #wrapper #slidebar #about .info .shopinfo, #wrapper #slidebar #shopinfo .info .shopinfo {
        clear: both;
        padding: 5px; }
        @media (max-width: 550px) {
          #wrapper #slidebar #about .info .shopinfo, #wrapper #slidebar #shopinfo .info .shopinfo {
            width: 45%; } }
  #wrapper footer {
    clear: both;
    text-align: center;
    padding: 40px 0 40px 0; }
    @media (max-width: 550px) {
      #wrapper footer {
        width: 95%;
        margin: 0 auto; } }
    #wrapper footer .pagetop {
      text-align: right; }
      @media (max-width: 550px) {
        #wrapper footer .pagetop {
          text-align: center; } }
    #wrapper footer .line {
      border-bottom: 1px solid #887f69; }
    #wrapper footer a {
      text-decoration: none;
      font-size: 0.8em;
      color: #000; }
      @media (max-width: 550px) {
        #wrapper footer a {
          padding: 5px; } }
    #wrapper footer p {
      font-size: 0.6em;
      color: #b8b4ac; }

/*# sourceMappingURL=style.css.map */
